################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj
/ConsoleApp1/bin/Debug/net6.0
/WpfApp1/.vs/ProjectEvaluation
/WpfApp1/.vs/WpfApp1/DesignTimeBuild
/WpfApp1/.vs/WpfApp1/FileContentIndex
/WpfApp1/.vs/WpfApp1/v17
/WpfApp1/bin/Debug/net6.0-windows
/WpfApp1/obj/Debug/net6.0-windows
/WpfApp1/obj
/.vs
