################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/obj
/ConsoleApp1/bin
/WpfApp1/.vs

/WpfApp1/bin

/WpfApp1/obj
/.vs
/ConsoleApp1/Properties/PublishProfiles
